<!DOCTYPE html>
<head> </head>
<body>
    <a href="/manga">Manga Home Page</a>
    <h1>
        Search for Manga
    </h1>
    <form action="/search" method="POST">
        <lable>Enter Name
            <input type="text" name="manganame" />
        </lable>
        <button type="submit">Search</button>
    </form>
</body>
</html>